<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodwala Restaurants</title>
    <!-- Favicon -->
    {% load static %}
    <link rel="icon" href="{% static 'img/dinner.png' %}" type="image/jpeg" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.css' %}" />
    <!-- Hover CSS -->
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  </head>
  <body>
    <header>
      <a href="#foodwala" class="logo"><i class="fas fa-utensils"></i> Foodwala<span>.</span></a>

      <div class="nav-icons-wrap">
        <nav class="navbar">
          <a href="/" class="active">home</a>
          <a href="about">about</a>
          <a href="{% url 'categoryp' %}">Category</a>
          <a href="{% url 'foodp' %}">Food</a>
          <a href="{% url 'view_cart' %}">Order</a>
          <a href="{% url 'feedbackp' %}">Feedback</a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'logoutpage' %}">Logout</a>
          {% else %}
            <a href="{% url 'loginp' %}">Login</a>
            <a href="{% url 'registerp' %}">Register</a>
          {% endif %}
        </nav>
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="{% url 'view_cart' %}" class="fa-solid fa-cart-shopping"></a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'userp' %}" class="fa-solid fa-user"></a>
          {% endif %}
        </div>
      </div>
    </header>

    {% block body %}

    {% endblock %}

    <!-- Footer Section Start -->
    <section class="footer">
      <div class="container">
        <div class="grid-3">
          <div class="text-center">
            <h3>About Us</h3><br />
            <p>Foodwala.com makes food ordering fast, easy, and reliable. We connect you with your favorite local restaurants so you can enjoy delicious meals delivered to your doorstep. Trusted service, secure payments, and great food — every time.</p>
          </div>
          <div class="texr-center">
            <h3>Site Map</h3><br />
            <div class="site-links">
              <a href="{% url 'categoryp' %}">Categories</a>
              <a href="{% url 'foodp' %}">Foods</a>
              <a href="{% url 'view_cart' %}">Order</a>
              <a href="{% url 'feedbackp' %}">Feedback</a>
              <a href="{% url 'loginp' %}">Login</a>
            </div>
          </div>
          <div class="social-links">
            <h3>Social Links</h3><br />
            <div class="social">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/manvir-odedra/?originalSubdomain=in"><img src="https://img.icons8.com/color/48/null/linkedin-circled--v1.png" /></a>
                </li>
                <li>
                  <a href="https://github.com/Manvir-Odedra"><img src="https://img.icons8.com/color/48/null/github.png" /></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/@shree_krushna"><img src="https://img.icons8.com/color/48/null/youtube-play.png" /></a>
                </li>
                <li>
                  <a href="https://github.com/Manvir-Odedra"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png" /></a>
                </li>
                <li>
                  <a href="https://github.com/Manvir-Odedra"><img src="https://img.icons8.com/color/48/null/twitter--v1.png" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section End -->

    <!-- Copyright Section start -->
    <section class="copyright">
      <div class="container text-center">
        <p>
          All rights reserved. Design By <a href="#">Manvir Odedra</a>
        </p>
      </div>
      <a id="back-to-top" class="btn-primary"><i class="fa fa-angle-double-up"></i></a>
    </section>
    <!-- Copyright Section End -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
