{% extends "base.html" %}

{% block body %}

    <!-- Login Section Start -->
    <section class="login">
        <div class="container">
            <h2 class="text-center">Login</h2>
            <div class="heading-border"></div>

            <form method="post" class="form">
                {% csrf_token %}
                <fieldset>
                    <legend>Login</legend>
                    <div class="messages">
                            {% for message in messages %}
                                <p class="success">{{message}}</p>
                            {% endfor %}
                    </div>
                    <p class="label">Email</p>
                    <input type="email" name='emailh' placeholder="Enter your email..." required>
                    <p class="label">Password</p>
                    <input type="password" name='passh' placeholder="Enter your password..." required>
                    <input type="submit" value="Login" class="btn-primary">

                    <div class="simple-register">
                        <p>Don't have an account? <a href="{% url "registerp" %}">Register here</a></p>
                    </div>

                </fieldset>
            </form>
        </div>
    </section>
    <!-- Login Section End -->


{% endblock  %}